
.entity-list {
	margin: 0;
}

.entity-list-item {
	display: flex;
	align-items: center;
	padding: $-xs 0 $-xs $-xxs;
	color: black;
	&:hover {
		text-decoration: none;
		color: black;
	}
	.svg-icon {
		width: 1.3rem;
		height: 1.4rem;
		fill: $indigo;
	}
}